[user]
	email = ''
	name = ''
	signingkey = 
[credential]
	helper = store
[commit]
	gpgsign = true
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an> %G?'%Creset --abbrev-commit --date=relative
  clear = fetch --prune
[init]
	defaultBranch = main
[gpg]
	program = gpg2
